.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contentContainer {
    display: grid;
    grid-template-columns: 200px auto;
    padding: 50px 150px;
    gap: 30px;
}

.bookList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 30px;
    align-content: center;
}